html {
    box-sizing: border-box;
    font-size: 20px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    height: 100vh;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .Settings-root,
  .Bookings-root,
  .Reports-root {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .Settings-root .MuiImageListItem-root:hover {
    background: rgba(53, 186, 246, 0.5);
    cursor: pointer;
  }

  .Settings-item {
    height: calc(48vh);
    width: 50%;
    border-radius: 4px;
    border: 1px solid #888;
  }

  .Settings-icon {
    font-size: max(10vh, 10vw, 24px) !important;
  }

  .Settings-attribute-cell {
    font-weight: 700;
  }

  .MuiTooltip-tooltip {
    max-width: none !important;
  }

  .Bookings-root {
    flex-direction: column;
  }

  .Bookings-title,
  .Bookings-buttons {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Bookings-buttons {
    justify-content: flex-end;
  }


  .Bookings-data {
    width: 100%;
    height: calc(100vh - 144px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .Bookings-loading {
    width: 100%;
    height: calc(100vh - 144px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Bookings-tbody:hover {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
  }

  .Bookings-edit-container,
  .Bookings-add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 112px);
  }
